/* GLOBAL */
:root {
    --orange:#EA3C12;
    --white: #f2f2f2;
    --black: #111111;
}

body {
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
}

/* HEADER */
header {
    padding: 10px 32px;
    background-color: 
    #111111;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#bdcLogo {
    width: 80px;
}

header .row {
    align-items: center;
}

.nav-link {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
}

.nav-link:hover {
    color: var(--orange);
}

.nav ul, .nav li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}




/* Jumbotron */

.jumbotron {
    padding-top: calc(128px + 64px);
}

.jumbotron .container {
    position: relative;
}

h1 {
    font-size: 38px;
    line-height: 41px;
    font-weight: 700;
    margin-bottom: 25px;
}

#jumboLogo {
    margin-left: 30%;
    width:80%;
}

/* Section */

section {
   padding-top: calc(128px + 64px);
   padding-bottom: calc(128px + 64px);
}

aside {
    float: left;
}

#aboutImg, #contactImg {
    width: 70%;
}

/* Img Gallery */


.imgGallery {
    background-color: #e9ecef;
}

.imgGallery h2 {
    text-align: center;
}



.gallery-img {
    padding: 5%;
    border: 5px solid #555;
    margin-bottom: 50px;
}

/* FOOTER */
footer {
    text-align: center;
    background-color: var(--orange);
    padding: 40px 0px;
    color: var(--white);
}

footer .col {
    width: calc(100% - 64px);
    padding: 0;
}

.owners {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.owners a {
    text-decoration: none;
    color: var(--black);
    transition: all 0.3s ease;
}

.owners a:hover {
    color: var(--white);
}

.btn {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
